@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 class="blinking-title">@ViewData["Title"]</h1>

    <div class="moving-image">
        <img src="brasil.png" alt="bandeira Brasil">
    </div>

    <div class="text-center">
        <h2>Lista de Clientes</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Email</th>
                    <th>Paciente</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.listaClientes)
                {
                    <tr>
                        <td>@item.ClienteId</td>
                        <td>@item.ClienteName</td>
                        <td>@item.ClienteCpf</td>
                        <td>@item.ClienteEmail</td>
                        <td>@item.ClientePaciente</td>
                    </tr>
                }
            </tbody>
        </table>

        <h2>Lista de Fornecedores</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>CNPJ</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.listaFornecedores)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Cnpj</td>
                        <td>@item.Email</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



@*
@{
ViewData["Title"] = "Home Page";
}

<div class="text-center">
@foreach (var item in @ViewBag.listaClientes)
{
<tr>
<th scope="row">@item.ClienteId</th>
<td>@item.ClienteName</td>
<td>@item.ClienteCpf</td>
<td>@item.ClienteEmail</td>
<td>@item.ClientePaciente</td>
</tr>
}
@foreach (var item in @ViewBag.listaFornecedores)
{
<tr>
<th scope="row">@item.Id</th>
<td>@item.Name</td>
<td>@item.Cnpj</td>
<td>@item.Email</td>
</tr>
}


</div> *@
